:root {
	--check-background: linear-gradient(
		135deg,
		hsl(192, 100%, 67%),
		hsl(280, 87%, 65%)
	);

	--dark-mode-circle-color: hsl(233, 14%, 35%);
}

/* Card Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.TaskContents {
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);

	--tw-ring-offset-shadow: 0 0 transparent;
	--tw-ring-shadow: 0 0 transparent;

	background-color: white;
	border-radius: 0.25rem;
	margin-bottom: 1rem;

	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.65rem;
	padding-bottom: 0.65rem;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
		var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);

	transition-property: box-shadow;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.3s;

	cursor: grab;
}

.TaskContents:hover {
	--tw-ring-offset-shadow: 0 0 transparent;
	--tw-ring-shadow: 0 0 transparent;

	--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);

	box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
		var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.TaskText {
	cursor: grab;

	margin: 0;
	font-weight: inherit;
	font-size: 1rem;
	line-height: 1.5rem;
}

.TaskFooter {
	display: flex;
	margin-top: 0.5rem;
}
