:root {
	--dark-mode-background-color: hsl(235, 24%, 19%);
	--dark-mode-card-background: hsl(237, 14%, 26%);
	--dark-mode-card-primary-text: hsl(234, 39%, 85%);
	--dark-mode-card-dark-text: hsl(234, 11%, 52%);
	--blue-text: hsl(220, 98%, 61%);
	--dark-mode-circle-color: hsl(233, 14%, 35%);
	--dark-mode-shadow: hsla(235, 21%, 11%, 0.5);
	--check-background: linear-gradient(
		135deg,
		hsl(192, 100%, 67%),
		hsl(280, 87%, 65%)
	);


}


.App-Page {
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
	/* background-color: var(--dark-mode-background-color); */
}


/* Heading
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.heading {
    /* width: 100%; */
    /* max-width: 550px; */
    /* text-align: center; */
}

.heading-first {
    /* display: flex; */
    /* justify-content: space-between; */
    /* margin-bottom: 2em; */
}

.heading-first h1 {
    /* font-size: 1.5em; */
    /* font-weight: 700; */
    /* letter-spacing: 0.6rem; */
}

.todo-input {
    /* width: 100%; */
    /* color: var(--dark-mode-card-primary-text); */
    /* background: none; */
    /* border: none; */
}

/* Cards Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.grid-container {
  display: grid;
  grid-template-columns: 20% 1fr;
  }

  
.rectangle {
	height: 50px;
	width: 100px;

	margin: 1rem;

	background-color: #555;
  }

.card {
	/* width: 100%;
	max-width: 550px;
	margin-bottom: 1rem;
	font-weight: 400;
	font-size: 0.6em;
	border-radius: 5px;
	color: var(--dark-mode-card-primary-text);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	box-shadow: 1px 1px 3px var(--dark-mode-shadow);
 */
	/* background-color: var(--dark-mode-card-background); */

}

.card.column {
	/* box-shadow: 0px 15px 20px 5px var(--dark-mode-shadow); */
}

.card-item {
    display: flex;
	width: 100%;

	/* padding: 0.9rem 1.2rem;
    border-radius: 5px;
    justify-content: flex-start;
    align-items: center; */

	/* background-color: var(--dark-mode-card-background); */
}


[data-rbd-droppable-id='tasks'] {
	width: 100%;
}

.check-circle {
	display: flex;

	width: 1.8em;
	height: 1.8em;
	border-radius: 50%;
	border: 1px solid var(--dark-mode-circle-color);
	margin-right: 1.3em;
	justify-content: center;
	align-items: center;
}

.check-circle.completed {
	background: var(--check-background);
	background-size: 100%;
}

.check-circle-fill {
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	border-radius: 50%;
	/* background-color: var(--dark-mode-card-background); */
}

