/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
	border-radius: 100px;
}

/* Sections
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
	padding: 8rem 0 7rem;
	text-align: center;
}

/* Hero
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
	position: relative;
}
.phone {
	position: relative;
	max-width: 80%;
	margin: 3rem auto -12rem;
}
.phone + .phone {
	display: none;
}

/* Docs
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.docs-header {
	text-transform: uppercase;
	font-size: 1.4rem;
	letter-spacing: 0.2rem;
	font-weight: 600;
}
.docs-section {
	border-top: 1px solid #eee;
	padding: 6rem 0;
	margin-bottom: 0;
}


/* Bigger than 550 */
@media (min-width: 550px) {
	.section {
		padding: 12rem 0 11rem;
	}
	.hero {
		padding-bottom: 12rem;
		text-align: left;
		height: 165px;
	}
	.phone {
		position: absolute;
		top: -7rem;
		right: 3rem;
		max-height: 362px;
		z-index: 3;
	}
	.phone + .phone {
		top: -6rem;
		display: block;
		max-width: 73.8%;
		right: 0;
		z-index: 2;
		max-height: 338px;
	}
	.hero-heading {
		font-size: 2.4rem;
	}
    .docs-section {
		padding: 6rem 0;
	}
}

/* Bigger than 750 */
@media (min-width: 750px) {
	.section {
		padding: 14rem 0 15rem;
	}
    .hero {
		height: 190px;
	}
	.hero-heading {
		font-size: 2.6rem;
	}
	
	.hero {
		padding: 16rem 0 14rem;
	}
	.phone {
		top: -14rem;
		right: 5rem;
		max-height: 510px;
	}
	.phone + .phone {
		top: -12rem;
		max-height: 472px;
	}
	.categories {
		padding: 15rem 0 8rem;
	}
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
	.section {
		padding: 20rem 0 19rem;
	}
	.hero {
		padding: 22rem 0;
	}
	.hero-heading {
		font-size: 3rem;
	}
	.phone {
		top: -16rem;
		max-height: 615px;
	}
	.phone + .phone {
		top: -14rem;
		max-height: 570px;
	}
}


