/* Sections
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.PagePadding {
    /*    padding: 8rem 0 7rem;*/

    padding: 4rem;
    /*	text-align: center;*/
}


/* Bigger than 550 */
@media (min-width: 550px) {


    .PagePadding {
        /*    padding: 8rem 0 7rem;*/

        padding: 8rem;

        /*	text-align: center;*/
    }

}

/* Bigger than 750 */
@media (min-width: 750px) {}

/* Bigger than 1000 */
@media (min-width: 1000px) {}
