
/* Blue to white background gradient
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    background-image: linear-gradient(to right, #eef2ff, rgba(238, 242, 255, 0));
}

/* Everything fades in
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

*{
  animation: fadein 0.5s;
}